footer {
    flex: 0 0 auto;
}

.footer-wrap {
    align-items: flex-end;
    justify-content: space-between;
}

.footer-policy {
    gap: 1.063rem;
    flex-direction: row;
}

.footer-policy__item::before {
    content: "/";
    position: absolute;
    top: 50%;
    right: -0.75rem;
    transform: translateY(-50%);
}