.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  position: absolute;
  right: max(15px, (100% - 1376px) / 2);
  top: 1.375rem;
  z-index: 5;
  width: 1.5rem;
  height: 0.75rem;
}

.burger::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
}

.burger::after {
  content: '';
  top: 50%;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  border-radius: 10px;
  background: #000;
}

.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}

.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}

.burger-checkbox:checked + .burger::before {
  top: 50%;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}

.burger-checkbox:checked + .burger::after {
  bottom: 50%;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}