footer.footer
    .container
        .footer-wrap
            .footer-copyright
                p.footer__text.text-md-18 © 2023 Aveji
                p.footer__text.text-md-18 Все права защищены
            ul.footer-policy
                li.footer-policy__item
                    a.text.link(href="#") Политика конфеденциальности
                li.footer-policy__item
                    a.text.link(href="#") Оплата и доставка
            ul.footer-social
                li.footer-social__item
                    a.footer__text.text-md-18.link(href="#") Вконтакте
                li.footer-social__item
                    a.footer__text.text-md-18.link(href="#") Телеграм